/* Review score stars system  */
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  font-size: 3rem;
  margin: 5px;
}

/* body reset */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  background-image: url("/background2.jpg");
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #74512d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 72, 33);
}
